.card {
  background-color:rgba(0,0,0,0.45);
  margin-left:3%;
  color:rgb(255,255,255);
}

a:link {
  color: rgb(97, 145, 75);
}

a:visited {
  color: rgb(55, 89, 40);
}

.btn {
  background-color: #268042;
}

.btn-primary {
  background-color: #268042;
  color:rgb(231,236,241);
}

.btn-primary:hover {
  background-color: rgb(97, 145, 75);
}

.card-title {
  color:rgb(255,255,255);
}

.lead.card-text {
  font-size:54px;
  margin-top:-12px;
}

p {
  margin-top:-15px;
  /*font-size:17px;*/
}

.jumbotron {
  background-image:url("../assets/img/denis-bolshakov-531764-unsplash.jpg");
  background-size: cover;
  color:rgb(231,236,241);
  background-color:rgb(50,28,28);
}

